Repository cryptoeconomicslab/plasma-chamber, pull requests merged in 2018-12, with the labels that each got.

#125 Fix duplicate deposit bug
  packages/chamber-childchain/lib/chain.js
Labels: ChildChain, bug

#136 Add verifier address to Transaction
  packages/chamber-childchain/lib/chain.js
  packages/chamber-childchain/test/chain_manager_test.js
  packages/chamber-childchain/test/chain_test.js
  packages/chamber-childchain/test/snapshot_test.js
  packages/chamber-childchain/test/std_test.js
  packages/chamber-core/src/tx.js
  packages/chamber-core/test/block_test.js
  packages/chamber-core/test/tx_test.js
  packages/chamber-rootchain/contracts/MultisigGame.sol
  packages/chamber-rootchain/contracts/RootChain.sol
  packages/chamber-rootchain/contracts/TxVerification.sol
  packages/chamber-rootchain/contracts/TxVerificationTest.sol
  packages/chamber-rootchain/migrations/2_deploy.js
  packages/chamber-rootchain/test/MultisigGame.test.js
  packages/chamber-rootchain/test/RootChain.test.js
  packages/chamber-rootchain/test/TestData.js
  packages/chamber-rootchain/test/TxVerification.test.js
  packages/chamber-wallet/test/wallet_test.js
Labels: ChildChain, RootChain, enhancement

#126 Optimize exit game
  packages/chamber-rootchain/contracts/RootChain.sol
  packages/chamber-rootchain/test/RootChain.test.js
Labels: RootChain

#137 send 1 transaction in startExit method at wallet
  .gitignore
  packages/chamber-wallet/src/wallet.js
  packages/chamber-wallet/test/wallet_test.js
Labels: Wallet, bug

#146 Add finalizeExit, getExit and getExits to chamber-wallet
  packages/chamber-wallet/src/wallet.js
Labels: Wallet, enhancement

#151 [Deprecation Alert] sha3 => keccak
  packages/chamber-core/src/merkle.js
  packages/chamber-core/src/smt.js
  packages/chamber-core/src/tx.js
  packages/chamber-core/test/smt_test.js
  packages/chamber-rootchain/test/MultisigGame.test.js
  yarn.lock
Labels: enhancement
